body{
    /* background-color: yellowgreen; */
    background-image: url(./portfolio2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    width: 84%;
    /* color: black; */
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    font-size: small;
    display: inline-block;
    margin-left: 100px;
    margin-top: 40px;
    
}
a{
    text-decoration:none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;


}
div ul li a:hover{
    color: red;
}
a:active{
    /* text-decoration: underline; */
    color: rgb(46, 70, 58);
}
span{
    color:red;
}
.third a{
    padding: 7px;
    /* margin-top: 500px; */
    margin-left: 100px;
    background-color: rgb(55, 45, 45);
    color: beige;
    border-radius: 10px;
}
.second{
    margin-left: 80px;
}
.third a:hover{
   background-color:steelblue;

}
.third{
    margin-top: 100px;
}